.leaflet-container {
    height: 84vh;
    width: 61vw;
    margin: 0;
    position: relative;
    top:14vh;

    
  }
  .leaflet-popup button{
    border:none;
    background: none;
    text-align: left;
    font-size:1em;

  }